@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
@import url('https://fonts.googleapis.com/css?family=Lato');

html {
	height: 100%;
}

body {
	margin: 0px;
	background-color: #fddbff;
	min-height: 100%;
	font-size: 100%;
}

div.header {
	display: block;
	height: 300px;
	background-image: url("./images/header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

div.menuBar {
	background-color: #222222;
	display: block;
	width: 100%;
}

div.menuMargin {
	max-Width: 1195px;
	margin: auto;
}

div.menuLogo {
	display: inline-block;
	color: white;
	font-family: 'Cedarville Cursive';
	font-size: 150%;
	margin-left: 5px;
}
/*
img.lotus {
	margin-left: 10px;
	padding-bottom: 5px;
	width: 70px;
	height: 40px;
	vertical-align: middle;
}
*/
div.menu {
	display: block;
	float: right;
    text-align: right;
}

ul.menuItems {
    list-style-type: none;
    margin: 0;
    padding: 0;
/*    overflow: hidden; */
	display: inline-block;
}

ul.menuItems li {
	float: left;
}

ul.menuItems li.nonIcon a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
	font-size: 80%;
	font-family: 'Lato';
}

li a:hover {
	color: #bbbbbb;
}

ul.menuItems li.icon {
	display: none;
}

#verticalMenu {
	background-color: #222222;
	display: none;
	position: absolute;
	top: 46px;
	right: 0px;
	padding: 0px;
	box-shadow: -5px 5px 8px #cccccc;
}

#verticalMenu li {
	display: block;
}

#verticalMenu li a {
	color: #ffffff;
    text-align: right;
    padding: 20px;
    text-decoration: none;
	font-size: 120%;
	font-family: 'Lato';
}

/* When the screen is less than 680 pixels wide, hide all list items and show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
	ul.menuItems li.nonIcon a {
		display: none;
		color: #ffffff;
		font-size: 100%;
		padding: 20px;
	}
	
	ul.menuItems li.icon {
		display: block;
		float: right;
	}
	
	ul.menuItems li.icon a {
		color: #ffffff;
		text-align: center;
		text-decoration: none;
		font-size: 150%;
		font-family: 'Lato';
		padding: 7px 20px 7px 20px;
	}
	
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
	ul.menuItems {
		position: relative;
	}
	
	ul.menuItems li {
		float: none;
		display: inline;
	}
	
	ul.menuItems li a {
		display: block;
		text-align: left;
		width: 100%;
	}
}

		
div.main {
	display: block;
	max-width: 1040px;
	background-color: #ffffff;
	margin: 0px auto 0px auto;
	box-shadow: 0px 20px 50px #bbbbbb;
	padding: 75px 75px 75px 75px;
}

/* Responsive layout grid */
/* For mobile phones: */
* {
    box-sizing: border-box;
}

[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

[class*="col-"] {
    float: left;
    padding: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

p {
	color: black;
	font-family: 'Lato';
	margin: 0px;
}

h2 {
	font-family: 'Lato';
	margin: 0px;
}

h3 {
	font-family: 'Lato';
}

a {
    color: #7E6D7F;
    text-decoration: none;
	font-family: 'Lato';
}
a:hover {
	color: #CAAFCC;
}

div.footer {
	background-color: #dddddd;
	display: block;
	width: 100%;
	height: 115px;
}

@media only screen and (min-width:418px) {
	div.footer {
		height: 81px;
	}
}

@media only screen and (min-width:551px) {
	div.footer {
		height: 51px;
	}
}

div.footerMargin {
	max-Width: 1195px;
	margin: auto;
}

div.copyright {
	display: inline-block; 
	margin-left: 10px;
}

div.links {
	display: block;
	float: right;
    text-align: right;
	margin-right: 5px;
}

p.copyrightText {
	display: inline-block;
	color: black;
	font-family: 'Lato';
	font-size: 75%;
	margin-top: 18px;
}

p.divider {
	display: inline-block;
	color: black;
	font-family: 'Lato';
	font-size: 75%;
	margin: 18px 5px 0px 5px;
}

img.contactImageSmall {
	height: auto;
	max-width: 100%;
	margin: 8px 5px 0px 0px;
}