#picAndInfo {
	display: block;
	margin: auto;
	margin-top: 50px;
	width: 100%;
	overflow: hidden;
}

#headShot {
	display: inline;
	height: 216.25px;
	width: 216.25px;
	float: right;
	border-radius: 50%;
	margin-left: 40px;
	/* h: 1012 w: 1141 */
}

img.socialMediaIcon {
	height: 40px;
	width: 40px;
	padding-right: 10px;
}

img.schedule {
	height: 300px;
	width: 300px;
	margin: 0px 66px 50px 0px;
	border-radius: 50%;
}

#lastSchedule {
	height: 300px;
	width: 300px;
	margin-bottom: 50px;
	border-radius: 50%;
}