#picAndInfo {
	display: block;
	margin: auto;
	margin-bottom: 50px;
	width: 100%;
	overflow: hidden;
}

#headShot {
	display: inline;
	height: 216.25px;
	width: 216.25px;
	float: right;
	border-radius: 50%;
	margin-left: 40px;
}

img.socialMediaIcon {
	height: 40px;
	width: 40px;
	padding-right: 10px;
}

img.circleImage {
	height: 300px;
	width: 300px;
	margin: 50px 66px 0px 0px;
	border-radius: 50%;
}

#circleImageRight {
	height: 300px;
	width: 300px;
	margin-top: 50px;
	border-radius: 50%;
}