h2 {
	font-family: 'Lato';
	margin: 0px 0px 25px 0px;
}

table.weekly {
	margin-bottom: 50px;
}

td.weekly {
	font-family: 'Lato';
	padding-right: 75px;
}

#workshopsHeader {
	margin-top: 50px;
}

table.workshops {
	margin-bottom: 50px;
}

h3.workshopTitle {
	margin: 0px 0px 5px 0px;
}

p.workshopDateTime {
	font-size: 90%;
	margin: 0px 0px 5px 0px;
}

p.workshopDescription {
	margin-bottom: 5px;
}

img.workshopPicture {
	height: 165px;
	width: 165px;
	margin-left: 30px;
}

img.schedule {
	height: 300px;
	width: 300px;
	margin: 50px 66px 0px 0px;
}

#lastSchedule {
	height: 300px;
	width: 300px;
	margin: 50px 0px 0px 0px;
}