hr {
	margin: 50px 0px 50px 0px;
}

div.dotted-spaced {
	background-image: linear-gradient(to right, #333 10%, rgba(255, 255, 255, 0) 0%);
	background-position: top;
	background-size: 10px 1px;
	background-repeat: repeat-x;
	margin-top: 20px;
}

div.imageDiv {
	text-align: center;
}
 

h3.workshopTitle {
	margin: 0px 0px 5px 0px;
}

p.workshopDateTime {
	font-size: 90%;
	margin: 0px 0px 5px 0px;
}

p.workshopDate {
	font-size: 90%;
	margin: 0px 0px 2px 0px;
}

p.workshopLocation {
	font-size: 90%;
	margin: 0px 0px 5px 0px;
}

p.workshopDescription {
	margin: 0px 0px 15px 0px;
}

img.workshopPicture {
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}